.todo-list {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 24px;
}

.todo-list .task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #6494ed3c;
    flex-wrap: wrap;
    width: 290px;
    height: 200px;
    margin: 12px;
    padding: 25px;
    border-radius: 8px;

}

.todo-list .task .task-title {
    border-radius: 6px;
    width: 100%;
}

.todo-list .task .actions {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 10px;
}

.todo-list .task .complete-btn {
    background-color: cornflowerblue;
    color: #fff;
    padding: 8px 8px 4px;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}

.todo-list .task .complete-btn:hover {
    background-color: #3b6ece;
    color: #fff;
    padding: 8px 8px 4px;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}

.todo-list .task .delete-btn {
    background-color: #f3345b;
    color: #fff;
    padding: 8px 8px 4px;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
}

.todo-list .task .delete-btn:hover {
    background-color: crimson;
    color: #fff;
    padding: 8px 8px 4px;
    border-radius: 8px;
    cursor: pointer;
}

.empty-list {
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

.line-through {
    text-decoration: line-through;
}