.home {
  background-color: #dcdcdc;
  min-height: 100vh;
}

.home .todo {
  max-width: 1200px;
  background-color: #ececec;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  margin: auto;
}

.btn-red {
  background-color: crimson;
  color: #fff;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  border: 2px solid crimson;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s all;
}

.btn-red:hover {
  background-color: transparent;
  color: crimson;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid crimson;
}

.btn-blue {
  background-color: cornflowerblue;
  color: #fff;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s all;
}