.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 20;
    background-color: black;
    opacity: 0.75;
}

.overlay {
    background-color: aliceblue;
    position: fixed;
    padding: 30px;
    width: 550px;
    height: 250px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 10px;
}

.overlay-dark {
    background-color: #272727;
    position: fixed;
    padding: 30px;
    width: 550px;
    height: 250px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 10px;
}

.modal-content {
    height: 100%;
}

.alert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.alert-msg {
    font-size: 18px;
    color: #000;
    font-family: "Poppins", sans-serif;
}

.alert-msg-dark {
    font-size: 18px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.btn-grp {
    align-self: flex-end;
}

.btn-grp button {
    margin: 0 10px;
}